*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
  overflow-x:hidden;
}

.landing-page{
  width:100%;
  min-height:100vh;

  background:#000;

  padding:14px 20px;
}

/* ================= NAVBAR ================= */

.navbar{
  width:100%;
  height:74px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 10px;

  background:transparent;
}

.logo-img{
  height:70px;
  width:auto;
  object-fit:contain;
}

.nav-links{
  display:flex;
  gap:34px;
}

.nav-links a{
  color:#b8c0ce;

  text-decoration:none;

  font-size:14px;

  position:relative;

  transition:0.3s;
}

.nav-links a:hover{
  color:white;
}

.nav-links .active{
  color:white;
}

.nav-links .active::after{
  content:"";

  position:absolute;

  left:0;
  bottom:-10px;

  width:100%;
  height:2px;

  border-radius:10px;

  background:linear-gradient(to right,#47ff75,#1d8dff);
}

.nav-buttons{
  display:flex;
  align-items:center;
  gap:12px;
}

.search-btn{
  width:44px;
  height:44px;

  border:none;

  border-radius:14px;

  background:#09101d;

  color:white;

  cursor:pointer;

  transition:0.3s;
}

.search-btn:hover{
  transform:translateY(-3px);
}

.explore-btn{
  border:none;

  padding:14px 24px;

  border-radius:14px;

  background:linear-gradient(to right,#47ff75,#1d8dff);

  color:white;

  font-size:14px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.explore-btn:hover{
  transform:translateY(-3px) scale(1.03);

  box-shadow:0 0 25px rgba(0,255,170,0.35);
}

.contact-btn{
  padding:14px 20px;

  border-radius:14px;

  border:1px solid #202838;

  background:transparent;

  color:white;

  font-size:13px;

  cursor:pointer;

  transition:0.3s;
}

.contact-btn:hover{
  transform:translateY(-3px);

  border-color:#2fd8ff;
}

/* ================= HERO ================= */

.hero-section{
  width:100%;

  display:grid;
  grid-template-columns:1fr 1fr;

  align-items:center;

  gap:10px;

  padding:0 20px;
}

/* LEFT */

.mini-badge{
  display:inline-flex;
  align-items:center;

  padding:8px 16px;

  border-radius:40px;

  background:#07101b;

  border:1px solid #173248;

  color:#2fd8ff;

  font-size:12px;

  margin-bottom:16px;
}

.hero-left h1{
  color:white;

  font-size:64px;

  line-height:1.03;

  font-weight:700;

  letter-spacing:-2px;

  max-width:560px;
}

.hero-left h1 span{
  background:linear-gradient(to right,#47ff75,#1d8dff);

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.hero-left p{
  margin-top:16px;

  color:#8d95a5;

  font-size:16px;

  line-height:1.7;

  max-width:520px;
}

/* BUTTONS */

.hero-buttons{
  display:flex;
  gap:14px;

  margin-top:24px;
}

.hero-explore-btn{
  border:none;

  padding:16px 28px;

  border-radius:16px;

  background:linear-gradient(to right,#47ff75,#1d8dff);

  color:white;

  font-size:14px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.hero-explore-btn:hover{
  transform:translateY(-4px) scale(1.03);

  box-shadow:0 0 30px rgba(0,255,170,0.35);
}

.hero-work-btn{
  display:flex;
  align-items:center;
  gap:10px;

  background:transparent;

  border:1px solid #202838;

  color:white;

  padding:16px 24px;

  border-radius:16px;

  font-size:14px;

  cursor:pointer;

  transition:0.3s;
}

.hero-work-btn:hover{
  transform:translateY(-4px);

  border-color:#2fd8ff;
}

/* VIDEO */

.hero-right{
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-right video{
  width:100%;
  max-width:700px;

  object-fit:contain;

  transform:scale(0.92);

}
.stat-box{
  position:relative;

  overflow:hidden;
}

.stat-box::before{
  content:"";

  position:absolute;

  inset:0;

  background:linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.03),
    transparent
  );

  transform:translateX(-100%);

  transition:0.6s;
}

.stat-box:hover::before{
  transform:translateX(100%);
}
/* ================= STATS ================= */

.stats-section{
  width:100%;

  margin-top:10px;

  display:grid;
  grid-template-columns:repeat(4,1fr);

  border:1px solid #171d2c;

  border-radius:18px;

  overflow:hidden;

  background:#050b16;
}

.stat-box{
  display:flex;
  align-items:center;

  gap:14px;

  padding:18px;

  border-right:1px solid #171d2c;

  transition:0.3s;
}

.stat-box:hover{
  transform:translateY(-4px);

  border-color:#214d70;
}

.stat-box:last-child{
  border-right:none;
}

.stat-img{
  width:34px;
  height:34px;

  object-fit:contain;

  mix-blend-mode:screen;
}

.stat-text h2{
  color:white;
  font-size:24px;
}

.stat-text p{
  color:#7f8798;
  font-size:12px;

  margin-top:4px;
}

/* ================= WHY SECTION ================= */

.why-section{
  padding-top:18px;
}

.why-section h2{
  text-align:center;

  color:white;

  font-size:34px;

  margin-bottom:18px;
}

.why-section h2 span{
  background:linear-gradient(to right,#47ff75,#1d8dff);

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* FEATURES */

.features-grid{
  display:grid;
  grid-template-columns:repeat(5,1fr);

  gap:14px;
}

.feature-card{
  background:#050b16;

  border:1px solid #171d2c;

  border-radius:18px;

  padding:18px;

  min-height:115px;

  transition:0.35s;
}

.feature-card:hover{
  transform:translateY(-6px) scale(1.02);

  border-color:#214d70;

  background:#081120;
}

.feature-img{
  width:34px;
  height:34px;

  object-fit:contain;

  margin-bottom:12px;

  mix-blend-mode:screen;
}

.feature-title{
  color:white;

  font-size:15px;

  margin-bottom:8px;
}

.feature-desc{
  color:#7f8798;

  font-size:12px;

  line-height:1.5;
}

/* ================= TRUSTED ================= */

.trusted-section{
  padding-top:18px;

  text-align:center;
}

.trusted-section p{
  color:#7f8798;

  font-size:14px;

  margin-bottom:20px;
}

.brand-row{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;

  gap:50px;
}

.brand-row img{
  height:24px;

  opacity:0.5;

  transition:0.3s;

  filter:grayscale(100%);
}

.brand-row img:hover{
  opacity:1;

  transform:scale(1.05);

  filter:none;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1100px){

  .hero-section{
    grid-template-columns:1fr;

    text-align:center;
  }

.hero-left h1{
  color:white;

  font-size:44px;

  line-height:1.08;

  font-weight:700;

  letter-spacing:-1px;

  max-width:500px;
}

  .hero-left p{
    margin:auto;
    margin-top:16px;
  }

  .hero-buttons{
    justify-content:center;
  }

  .features-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .stats-section{
    grid-template-columns:repeat(2,1fr);
  }

  .nav-links{
    display:none;
  }
}

@media(max-width:700px){

  .landing-page{
    padding:10px;
  }

  .hero-section{
    padding:0;
  }

  .hero-left h1{
    font-size:38px;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }

  .stats-section{
    grid-template-columns:1fr;
  }

  .features-grid{
    grid-template-columns:1fr;
  }

  .brand-row{
    gap:24px;
  }

  .brand-row img{
    height:18px;
  }

  .explore-btn,
  .contact-btn{
    display:none;
  }

  .logo-img{
    height:56px;
  }
}
@media(max-width:700px){

  body{
    overflow-x:hidden;
  }

  .landing-page{
    padding:14px 16px 30px;
  }

  /* NAVBAR */

  .navbar{
    height:70px;

    padding:0;
  }

  .nav-links,
  .search-btn,
  .contact-btn,
  .explore-btn{
    display:none;
  }

  .logo{
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  .logo-img{
    height:72px;
  }

  /* HERO */

  .hero-section{
    grid-template-columns:1fr;

    padding:0;

    text-align:center;

    gap:0;
  }

  /* VIDEO FIRST */

  .hero-right{
    order:1;

    margin-top:10px;
  }

  .hero-right video{
    width:130%;

    max-width:none;

    transform:translateX(-6%) scale(1.08);
  }

  /* TEXT */

  .hero-left{
    order:2;

    margin-top:-10px;
  }

  .mini-badge{
    display:none;
  }

  .hero-left h1{
    font-size:56px;

    line-height:1.08;

    letter-spacing:-2px;

    max-width:100%;
  }

  .hero-left p{
    font-size:18px;

    line-height:1.7;

    max-width:100%;

    margin-top:18px;

    color:#9ea6b5;
  }

  .hero-left h1 br{
    display:none;
  }

  /* BUTTONS */

  .hero-buttons{
    flex-direction:column;

    gap:18px;

    margin-top:30px;
  }

  .hero-explore-btn{
    width:100%;

    height:72px;

    border-radius:22px;

    font-size:18px;

    font-weight:600;
  }

  .hero-work-btn{
    width:100%;

    height:72px;

    border-radius:22px;

    font-size:18px;

    justify-content:center;
  }

  /* STATS */

  .stats-section{
    display:none;
  }

  /* FEATURES */

  .why-section{
    display:none;
  }

  /* TRUSTED */

  .trusted-section{
    padding-top:30px;
  }

  .trusted-section p{
    font-size:15px;

    margin-bottom:18px;
  }

  .brand-row{
    gap:12px;

    justify-content:center;
  }

  .brand-row img{
    height:34px;

    opacity:1;

    filter:none;
  }
}
.mobile-customers{
  display:none;
}
/* ================= ANDROID / MOBILE ================= */

@media screen and (max-width:768px){

  *{
    -webkit-tap-highlight-color:transparent;
  }

  body{
    overflow-x:hidden;
    background:#000;
  }

  .landing-page{
    padding:10px 14px 40px;

    min-height:100dvh;
  }

  /* NAVBAR */

  .navbar{
    width:100%;

    height:auto;

    padding:0;

    justify-content:center;
  }

  .nav-links,
  .search-btn,
  .contact-btn,
  .explore-btn{
    display:none;
  }

  .logo{
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  .logo-img{
    height:70px;

    object-fit:contain;
  }

  /* HERO */

  .hero-section{
    grid-template-columns:1fr;

    padding:0;

    gap:0;

    text-align:center;
  }

  /* VIDEO FIRST */

  .hero-right{
    order:1;

    width:100%;

    display:flex;
    justify-content:center;

    margin-top:0;
  }

  .hero-right video{
    width:115%;

    max-width:none;

    object-fit:contain;

    transform:none;
  }

  /* TEXT */

  .hero-left{
    order:2;

    width:100%;

    margin-top:-20px;
  }

  .mini-badge{
    display:none;
  }

  .hero-left h1{
    font-size:52px;

    line-height:1.08;

    letter-spacing:-2px;

    max-width:100%;

    text-align:center;
  }

  .hero-left h1 br{
    display:none;
  }

  .hero-left p{
    font-size:17px;

    line-height:1.7;

    max-width:100%;

    margin-top:18px;

    color:#9ea6b5;

    text-align:center;
  }

  /* BUTTONS */

  .hero-buttons{
    flex-direction:column;

    gap:16px;

    margin-top:30px;

    width:100%;
  }

  .hero-explore-btn{
    width:100%;

    height:68px;

    border-radius:22px;

    font-size:18px;

    font-weight:600;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  .hero-work-btn{
    width:100%;

    height:68px;

    border-radius:22px;

    font-size:18px;

    display:flex;
    justify-content:center;
    align-items:center;
  }

  /* HOVER REMOVE MOBILE */

  .hero-explore-btn:hover,
  .hero-work-btn:hover,
  .feature-card:hover,
  .stat-box:hover{
    transform:none;
  }

  /* HIDE DESKTOP SECTIONS */

  .stats-section{
    display:none;
  }

  .why-section{
    display:none;
  }

  /* TRUSTED */

  .trusted-section{
    padding-top:30px;

    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .trusted-section p{
    font-size:14px;

    margin-bottom:16px;

    color:#8d95a5;
  }

  .brand-row{
    display:flex;

    justify-content:center;
    align-items:center;

    flex-wrap:wrap;

    gap:14px;
  }

  .brand-row img{
    height:20px;

    opacity:0.9;

    filter:none;
  }

  /* MOBILE CUSTOMERS */

  .mobile-customers{
    display:flex;

    justify-content:center;
    align-items:center;

    gap:12px;

    margin-top:28px;
  }

  .mobile-shield{
    font-size:32px;
  }

  .mobile-customers-content{
    text-align:left;
  }

  .mobile-customers-content p{
    color:#8d95a5;

    font-size:13px;

    margin-bottom:8px;
  }

  .mobile-users{
    display:flex;
    align-items:center;
  }

  .mobile-users img{
    width:34px;
    height:34px;

    border-radius:50%;

    object-fit:cover;

    border:2px solid #000;

    margin-left:-8px;
  }

  .mobile-users img:first-child{
    margin-left:0;
  }

  .mobile-users span{
    color:#9ea6b5;

    font-size:13px;

    margin-left:10px;
  }

}