.navbar{
  width:100%;
  height:68px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 40px;

  background:transparent;
}

/* LOGO */

.logo-img{
  height:40px;
  width:auto;

  object-fit:contain;
}
/* LINKS */

.nav-links{
  display:flex;
  gap:34px;
}

.nav-links a{
  color:#b8c0ce;

  text-decoration:none;

  font-size:16px;

  position:relative;

  transition:0.3s;
}

.nav-links a:hover{
  color:white;
}

.nav-links .active{
  color:white;
}

.nav-links .active::after{
  content:"";

  position:absolute;

  left:0;
  bottom:-10px;

  width:100%;
  height:2px;

  border-radius:10px;

  background:linear-gradient(to right,#47ff75,#1d8dff);
}

/* BUTTONS */

.nav-buttons{
  display:flex;
  align-items:center;
  gap:14px;
}

.search-btn{
  width:50px;
  height:50px;

  border:none;

  border-radius:16px;

  background:#09101d;

  color:white;

  font-size:15px;

  cursor:pointer;
}

.explore-btn{
  border:none;

  padding:16px 28px;

  border-radius:16px;

  background:linear-gradient(to right,#47ff75,#1d8dff);

  color:white;

  font-size:15px;
  font-weight:600;

  cursor:pointer;
}

.contact-btn{
  padding:15px 24px;

  border-radius:16px;

  border:1px solid #202838;

  background:transparent;

  color:white;

  font-size:14px;

  cursor:pointer;
}

@media(max-width:1200px){

  .nav-links{
    display:none;
  }
}

@media(max-width:700px){

  .navbar{
    padding:0 16px;
    height:76px;
  }



  .explore-btn,
  .contact-btn{
    display:none;
  }
}
.navbar{
  width:100%;
  height:74px;

  padding:0 24px;

}

/* LOGO */



/* LINKS */

.nav-links{
  gap:28px;
}

.nav-links a{
  font-size:14px;
}

/* BUTTONS */

.search-btn{
  width:44px;
  height:44px;

  border-radius:14px;
}

.explore-btn{
  padding:14px 22px;

  font-size:14px;
}

.contact-btn{
  padding:13px 18px;

  font-size:13px;
}